

html, body, #map {
    height: 100%;
    padding: 0px;
    margin: 0px;
}



/* ICONS */

.icon {
	display: inline-block;
	margin: 2px;
	height: 16px;
	width: 16px;
	background-color: #ccc;
}
.icon-bar {
	background: url('images/icons/bar.png') center center no-repeat;
}
.icon-fuel {
	background: url('images/icons/fuel.png') center center no-repeat;
}
.icon-parking {
	background: url('images/icons/parking.png') center center no-repeat;
}
.icon-drinking_water {
	background: url('images/icons/drinking_water.png') center center no-repeat;
}

/* MARKERS */
.leaflet-marker-icon {
	padding: 2px;
	text-align: center;
}
.marker-bar {
	background: url('images/markers/bar.png') center center no-repeat;
}
.marker-fuel {
	background: url('images/markers/fuel.png') center center no-repeat;
}
.marker-parking {
	background: url('images/markers/parking.png') center center no-repeat;
}
.marker-drinking_water {
	background: url('images/markers/drinking_water.png') center center no-repeat;
}


        /* MARKERS */
.leaflet-marker-icon {
    padding: 2px;
    text-align: center;
}
.marker-kitespots {
    background: url('images/markers/flag.png') center center no-repeat;
}
.icon-kitespots {
    background: url('images/icons/kitesurf.png'), center center no-repeat;
    display: inline-block;
    margin: 2px;
    height: 22px;
    width: 22px;
    background-color: #ccc;
}
                /* ICONS */
      /*  .icon {
            display: inline-block;
            margin: 1px;
            height: 20px;
            width: 20px;
            background-color: #ccc;
        }*/
.icon-globe {
    background: url('images/icons/globe.png'), center center no-repeat;
    display: inline-block;
    margin: 2px;
    height: 22px;
    width: 22px;
    background-color: #ccc;
}
.icon-landskap {
    background: url('images/icons/landskap.png'), center center no-repeat;
    display: inline-block;
    margin: 2px;
    height: 18px;
    width: 18px;
    background-color: #ccc;
}

        /* Scale */
.scaleLayer {
    color: rgba(248, 255, 248, 0.9);
}
        /* Control Panel */
.directionForm {
    max-width: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(221, 221, 221, 0.12);
    position: absolute;
    bottom: 25px;
    right: 12px;
    padding: 10px;
    z-index: 440;
    box-shadow: 0 1px 5px rgba(0,0,0,0.45);
    border-radius: 3px;
    width: 100%;
}

.input {
    padding: 5px;
    width: 95%;
    border: 1px solid #ddd;
    font-size: 12px;
    border-radius: 3px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.65);
}
#form {
    padding: 4;
    margin: 4;
}
input:nth-child(1) {
    margin-bottom: 6px;
}
button {
    font-size: 12px;
    background-color: rgba(202, 202, 202, 0.89);
    border: 10px;
    padding: 4px;
    margin-top: 5px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.65);
    border-radius: 3px;
}


.leaflet-control-scale {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    bottom: 16px;
}

/* Search Engine */

selector {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12;
}

/* Directions Controler */
html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.esri-view .esri-directions {
    position: fixed;
    right: 15px;
    max-height: calc(100% - 45px) !important;
}
.esri-view .esri-component.esri-attribution {
    position: fixed;
}
